/* Add the following CSS to your stylesheet */

/* Adjust the form elements */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    form input[type="text"] {
        font-size: 1em;
        color: #A29E9E;
        padding: 1em 0.5em;
        display: block;
        width: 95%;
        outline: none;
        margin-bottom: 1em;
        text-align: center;
        border: 1px solid #B9B9B9;
    }

    form input[type="submit"] {
        font-size: 1em;
        color: #fff;
        background: #2F2F2F;
        width: 60%;
        padding: 0.8em 0em;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        border-bottom: 3px solid #fff;
        display: block;
        margin: 1.5em auto 0;
    }

        form input[type="submit"]:hover {
            background: #1D1C1C;
            border-bottom: 3px solid #2F2F2F;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
        }

    form .btn-back {
        font-size: 1em;
        color: #fff;
        background: #2F2F2F;
        width: 60%;
        padding: 0.8em 0em;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        border-bottom: 3px solid #fff;
        display: block;
        margin: 1.5em auto 0;
        text-align: center;
    }

        form .btn-back:hover {
            background: #1D1C1C;
            border-bottom: 3px solid #2F2F2F;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
        }
