
.add_course-btn {
    width: 150px;
    height: 70px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: whitesmoke;
    font-weight: 500;
    margin-left: 120px;
}


    .add_course-btn:hover {
        background: #fff;
        color: black;
    }