* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html {
    background-color: #ffffff;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../Content/Image/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.login-wrapper,
.registration-wrapper {
    color: #fff;
    position: relative;
    width: 40rem;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 2rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3rem rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 4rem;
}

.registration-wrapper {
    height: 60rem;
}

.form-box h2 {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.input-box {
    position: relative;
    width: 100%;
    height: 5rem;
    border-bottom: 2px solid #fafafa;
    margin: 3rem 0;
}

    .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 1.6em;
        font-weight: 500;
        pointer-events: none;
        transition: .5s;
    }

    .input-box input:focus ~ label,
    .input-box input:valid ~ label {
        top: -4px;
        font-size: 1.4rem;
    }

    .input-box input {
        width: 100%;
        height: 100%;
        background: transparent;
        color: whitesmoke;
        border: none;
        font-size: 1.6em;
        outline: none;
        padding: 0 3.5rem 0 .5rem;
    }

    .input-box .icon {
        position: absolute;
        right: 8px;
        font-size: 1.8em;
        line-height: 5rem;
    }

.remember-forgot {
    font-size: 1.4em;
    color: #fafafa;
    font-weight: 600;
    margin: 2rem 0 3rem;
    display: flex;
    justify-content: space-between;
}

    .remember-forgot label input {
        accent-color: #cfd5d8;
        margin-right: 3px;
    }

    .remember-forgot a {
        font-weight: 1;
        margin-left: 5px;
        color: #ffffff;
    }

        .remember-forgot a:hover {
            text-decoration: underline;
        }

.register-link {
    font-weight: 1;
    color: #ffffff;
    font-family: arial;
    font-size: 1.4rem;
    margin-top: 2.5rem;
    text-align: center;
}

    .register-link a:hover {
        text-decoration: underline;
    }

.btn {
    width: 100%;
    height: 4.5rem;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.8em;
    color: whitesmoke;
    font-weight: 500;
    margin-top: 2rem;
}

    .btn:hover {
        background: #fff;
        color: black;
    }

.rdio-btn {
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .login-wrapper,
    .registration-wrapper {
        width: 90%;
        padding: 4rem 3rem;
    }

    .registration-wrapper {
        height: auto;
    }

    .input-box {
        margin: 2rem 0;
    }

    .remember-forgot {
        margin: 1.5rem 0 2rem;
    }

    .btn {
        height: 4rem;
    }

    .rdio-btn {
        height: 3.5rem;
    }


    .btn.btn-back {
        background-color: black; /* Dark gray color */
        border-color: black;
        color: black;
    }

        .btn.btn-back:hover {
            background-color: #5a6268; /* Darker gray color on hover */
            border-color: #545b62;
        }


}
