/* Global Styles */
.auth-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.auth-container html {
    background-color: #ffffff;
    font-size: 60%;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

.auth-container body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Header Styles */
.auth-container header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Login/Registration Wrapper Styles */
.auth-container .login-wrapper,
.auth-container .registration-wrapper {
    color: #fff;
    position: relative;
    width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container .login-wrapper {
    height: 440px;
    margin: 0 auto;
}

.auth-container .registration-wrapper {
    height: 600px;
    margin: 0 auto;
}

.auth-container .form-box {
    width: 100%;
    padding: 30px;
}

.auth-container .form-box h2 {
    font-size: 2em;
    text-align: center;
}

/* Input Box Styles */
.auth-container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fafafa;
    margin: 10px;
    font-size: 1em;
}

    .auth-container .input-box label {
        position: absolute;
        top: 50%;
        left: 5px;
        font-size: 1em;
        transform: translateY(-50%);
        font-size: 1em;
        font-weight: 500;
        pointer-events: none;
        transition: .5s;
    }

.auth-container .input-box input:focus ~ label,
.auth-container .input-box input:valid ~ label {
    top: -4px;
}

.auth-container .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: whitesmoke;
    border:medium;
    font-size: 1em;
    outline: none;
    padding: 0 35px 0 5px;
}

.auth-container .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1em;
    line-height: 50px;
}

/* Remember/Forgot Styles */
.auth-container .remember-forgot {
    font-size: 1.2em;
    color: #fafafa;
    font-weight: 600;
    margin: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
}

.auth-container .remember-forgot label input {
    accent-color: #cfd5d8;
    margin-right: 3px;
}

.auth-container .remember-forgot a {
    font-weight: 1;
    margin-left: 5px;
    color: #ffffff;
}

.auth-container .remember-forgot a:hover {
    text-decoration: underline;
}

/* Register Link Styles */
.auth-container .register-link {
    font-weight: 1;
    color: #ffffff;
    font-family: arial;
    font-size: 10px;
    margin: 25px;
    padding-left: 30px;
}

.auth-container .register-link a:hover {
    text-decoration: underline;
}

/* Button Styles */

.auth-container .button-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between buttons */
    margin-bottom: 20px; /* Optional margin to separate from other content */
    text-align: center;
    margin-top: 20px;
}

.auth-container .btn {
    width: 160px;
    height: 60px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em; /* Adjusted font size */
    color: whitesmoke;
    font-weight: 500;
    display: flex;
    justify-content: center; /* Center align text horizontally */
    align-items: center; /* Center align text vertically */
}




    .auth-container .btn.btn-back {
        margin-left: 30px; /* Adjust the margin as needed */
    }


.auth-container .btn:hover {
    background: #fff;
    color: black;
}

.auth-container .rdio-btn {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    margin-left: 10px;
    justify-content: space-between;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .auth-container .login-wrapper,
    .auth-container .registration-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .auth-container .btn {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .auth-container .login-wrapper,
    .auth-container .registration-wrapper {
        width: 95%;
        height: auto;
        padding: 20px;
    }

    .auth-container .form-box {
        padding: 20px;
    }

    .auth-container .input-box {
        margin: 5px;
    }

    .auth-container .remember-forgot {
        font-size: 1em;
    }

    .auth-container .register-link {
        font-size: 8px;
    }

    .auth-container .btn {
        width: 80px;
        height: 25px;
        font-size: 1.2em;
    }

    .auth-container .rdio-btn {
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-left: 0;
    }
}
