@using LearnLink.Models;

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnLink<</title>
    <link href="@Url.Content("/Content/loginpage.css")" rel="stylesheet" />
</head>
<div class="registration-wrapper">
    <div class="form-box login">
        <h2>Registration</h2>
        <form action="" method="post">

            <div class="input-box">
                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                <input type="text" name="Name" id="Name" autocomplete="off" required>
                <label>Name</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                <input type="email" name="Email" id="Email" autocomplete="off" required>
                <label>Email</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" name="Password" id="Password" autocomplete="off" required>
                <label>Password</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
                <input type="text" name="Phone" id="Phone" autocomplete="off" required>
                <label>Phone</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <input type="text" name="Address" id="Address" autocomplete="off" required>
                <label>Address</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <input type="text" name="Institution" id="Institution" autocomplete="off" required>
                <label>Institution</label>
            </div>
            <div class="rdio-btn">
                <input type="radio" id="teacher" name="role" value="teacher" checked>
                <label for="teacher">Teacher</label>
                <input type="radio" id="student" name="role" value="student">
                <label for="student">Student</label>
            </div>

            <div>
                <input type="submit" class="btn" name="Register" value="Register" required>
            </div>


        </form>

        <div class="register-link">
            <a href="#" class="register-link"> Already have an account?</a>
        </div>
    </div>
</div>


