@using LearnLink.Models;

@{
    var alertMessage = TempData["AlertMessage"] as string;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnLink</title>
    <link href="@Url.Content("/Content/loginpage.css")" rel="stylesheet" />
</head>
<div class="registration-wrapper">
    <div class="form-box login">
        <br /><br />
        <script type="text/javascript">
        window.onload = function() {
            var alertMessage = '@alertMessage';
            if (alertMessage) {
                alert(alertMessage);
                window.location.href = '@Url.Action("reg")';
            }
        };
        </script>
        <h2>Registration</h2>
        <form action="" method="post">

            <div class="input-box">
                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                <input type="text" name="Name" id="Name" autocomplete="off" required>
                <label>Name</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                <input type="email" name="Email" id="Email" autocomplete="off" required>
                <label>Email</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" name="Password" id="Password" autocomplete="off" required>
                <label>Password</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" name="ConfirmPassword" id="ConfirmPassword" autocomplete="off" required>
                <label>Confirm Password</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" name="PIN" id="PIN" autocomplete="off" required>
                <label>Password</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" name="ConfirmPIN" id="ConfirmPIN" autocomplete="off" required>
                <label>Confirm PIN</label>
            </div>


            <div class="input-box">
                <span class="icon"><ion-icon name="call-outline"></ion-icon></span>
                <input type="text" name="Phone" id="Phone" autocomplete="off" required>
                <label>Phone</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <input type="text" name="Address" id="Address" autocomplete="off" required>
                <label>Address</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <input type="text" name="Institution" id="Institution" autocomplete="off" required>
                <label>Institution</label>
            </div>
            <div class="rdio-btn">
                <input type="radio" id="teacher" name="Role" value="teacher" checked>
                <label for="teacher">Teacher</label>
                <input type="radio" id="student" name="Role" value="student">
                <label for="student">Student</label>
            </div>

            <div>
                <input type="submit" class="btn" name="Register" value="Register" required>
            </div>

        </form>

        <div class="register-link">
            <a class="register-link" onclick="location.href='@Url.Action("login", "Login")';">Already have an account?</a>
        </div>
    </div>
</div>
