@using LearnLink.Models;

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnLink</title>
    <link href="@Url.Content("/Content/loginpage.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/course.css")" rel="stylesheet" />
   
</head>
<body>
    

    <div class="login-wrapper">
        <div class="form-box login">
            <header>
                <h1>@Session["UserName"]</h1>
            </header>
            <br /><br />
            <h2>Manage Courses</h2>
            <div class="course-list">
                <!-- Placeholder for future course items -->
                <button class="btn course-btn" style="margin-bottom: 10px; text-align: center;">Courses</button>
                <button class="btn course-btn" style="margin-bottom: 10px; text-align: center;">Create</button>
                <button class="btn course-btn" style="margin-bottom: 10px; text-align: center;">Enroll</button>
                <button class="btn course-btn" style="margin-bottom: 10px; text-align: center;">Review</button>
                <button class="btn course-btn" style="margin-bottom: 10px; text-align: center;">Feedback</button>
                <button class="btn course-btn" style="margin-bottom: 10px; text-align: center;">Profile</button>
                <button class="btn course-btn" style="margin-bottom: 10px; text-align: center;">LogOut</button>
            </div>

        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
